  body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/img/background.png);
  }

  * {
    color: #ffffff;
  }
  html {
    scroll-behavior: smooth;
  }

  .avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }

  .nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-link {
    text-align: justify;
    display: flex;
    line-height: 50px;
    text-decoration: none;
    font-size: 25px;
  }


  .bio {
    text-align: center;
  }

  a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
  }

  a:hover {
    background-size: 100% 2px;
  }
