  body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/img/background.png);
  }

  * {
    color: #ffffff;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-weight: normal;
  }

  span {
    color: gold;
  }

  a {
    color: gold;
  }

  .avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(assets/img/green-backg.png);
  }

  .nav-link {
    text-align: justify;
    display: flex;
    line-height: 50px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
  }


  .bio {
    text-align: center;
  }

  .nav-list a, .contacts-list a, .courses-list a, .git-projects a, .github-profile a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
  }

  a:hover {
    background-size: 100% 2px;
  }

  .section {
    padding: 10px;
    font-size: 20px;
  }

  .contact-github {
    list-style-image: url(assets/img/github.png);
  }

  .contact-email {
    list-style-image: url(assets/img/email.png);
  }

  .contact-phone {
    list-style-image: url(assets/img/telephone.png);
  }

  .contact-telegram {
    list-style-image: url(assets/img/telegram.png);
    padding: 5px 1px 5px 0px;
  }

  .section-title {
    color: #000000;
  }

  .code {
    text-align: left;
  }

  .footer-elements {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer img {
    width: 100px;
    height: 100px;
    align-items: center;
    text-decoration: none;
  }

  .rs-image {
    background-image:unset;
  }

  .footer {
    background-image: url(assets/img/green-backg.png);
    width: 100%;
    height: 110px;
  }

